chinese_poems/src/__pycache__/**
chinese_poems/tests/__pycache__/**
chinese_poems/*.json
**/*.log
*.sqbpro
chinese_poems/sqlite/**
.gitignore
chinese_poems/test_db/**
chinese_poems/chinese_poem_prompt.jsonl
